
li button {
    font: inherit;
    border: 1px solid #e2d0bf;
    background: #e2d0bf ;
    color: rgb(49, 43, 43);
    padding: 0.25rem 1rem;
    border-radius: 5px;
    cursor: pointer;

  }


li button:hover,
  li button:active {
    background: #c4b09d;
    border-color: #c4b09d;
  }